body{
    background-color: lightgreen;
}

.perfil{
    font-family: "Oswald", sans-serif;
    color: black;
}

.imagen{
    display: flexbox;
    justify-content: left;
    align-items: center;
    text-align: left;
}